<!-- Assignment 1 
Name:Vivek Kundaliya
Id:301311622
Date:03/10/2023
-->

<!-- navbar starts -->
<header>
    <a href="/" class="logo"><i class="fab"></i></i> VK</a>

    <div id="menu" class="fas fa-bars"></div>
    <nav class="navbar">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/experience">Experience</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<!-- navbar ends -->