<!-- Assignment 1 
Name:Vivek Kundaliya
Id:301311622
Date:03/10/2023
-->


<%- layout('layouts/boilerplate') %>
<!-- pre loader -->

<!-- <div class="loader-container">
    <img draggable="false" src="/images/preloader.gif" alt="">
</div> -->
<!-- about section starts  -->
<section class="about" id="about">
    <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>

    <div class="row">

        <div class="image">
            <img draggable="false" class="tilt" src="images/About.jpeg" alt="">
        </div>
        <div class="content">
            <h3>I'm Vivek</h3>
            <span class="tag">Passionate Software Engineer</span>
            <p>Currently pursuing my First year in Software Engineering Technology.I'm a curious person and learning new technologies is very tempting. An experienced developer with
                multiple backend and a huge front end stack. A MERN Stack developer with a lot more to offer.</p>
            <div class="box-container">
                <div class="box">
                    <p><span> age: </span> 22</p>
                    <p><span> phone : </span> +1 647-868-6536</p>
                </div>
                <div class="box">
                    <p><span> email : </span> vivekkundaliyawork@gmail.com</p>
                    <p><span> place : </span> Scarborough, Toronto</p>
                </div>
            </div>
            <!-- Resume Download Button  -->
             <div class="resumebtn">    
                <a href="images/educat/resume.pdf" class="btn" download=""><span>Download Resume</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>

        </div>
    </div> 
</section>
 <!-- about section ends -->


<!-- scroll top btn -->
<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll back to top -->