<!-- Assignment 1 
Name:Vivek Kundaliya
Id:301311622
Date:03/10/2023
-->

<%- layout('layouts/boilerplate') %>
<!-- pre loader -->
<!-- <div class="loader-container">
    <img draggable="false" src="/images/preloader.gif" alt="">
</div> -->

<!-- hero section starts -->
<section class="home" id="home">
    <div id="particles-js"></div>

    <div class="content">
        <h3>Hi There,<br /> I'm Vivek <span>Kundaliya</span></h3>
        <p>i am into <span class="typing-text"></span></p>
        <a href="#about" class="btn"><span>About Me</span>
            <i class="fas fa-arrow-circle-up"></i>
        </a>
        <!-- Social Links -->
        <div class="socials">
            <ul class="social-icons">
                <li><a class="linkedin" href="https://www.linkedin.com/in/vivek-kundaliya-ca" target="_blank"><i
                            class="fab fa-linkedin"></i></a></li>
                <li><a class="github" href="https://github.com/bitVivek" target="_blank"><i
                            class="fab fa-github"></i></a>
                </li>
                <!-- <li><a class="telegram" href="#" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
                <li><a class="instagram" href="https://www.instagram.com/ch.anand.ler_bing/"><i class="fab fa-instagram"
                            target="_blank"></i></a></li>
                <li><a class="dev" href="/" target="_blank"><i class="fab fa-dev"></i></a></li> -->
            </ul>
        </div>
    </div>
    <div class="image">
        <img draggable="false" class="tilt" src="images/profilePhoto.gif" alt="Profile Photo">
    </div>
</section>
<!-- hero section ends -->


<!-- about section starts -->
<!-- <section class="about" id="about">
    <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>

    <div class="row">

        <div class="image">
            <img draggable="false" class="tilt" src="images/About.jpeg" alt="">
        </div>
        <div class="content">
            <h3>I'm Vivek</h3>
            <span class="tag">Passionate Software Engineer</span>
            <p>Currently pursuing my First year in Software Engineering Technology.I'm a curious person and learning new technologies is very tempting. An experienced developer with
                multiple backend and a huge front end stack. A MERN Stack developer with a lot more to offer.</p>
            <div class="box-container">
                <div class="box">
                    <p><span> age: </span> 22</p>
                    <p><span> phone : </span> +1 647-868-6536</p>
                </div>
                <div class="box">
                    <p><span> email : </span> vivekkundaliyawork@gmail.com</p>
                    <p><span> place : </span> Scarborough, Toronto</p>
                </div>
            </div>
            Resume Download Button -->
            <!-- <div class="resumebtn">    
                <a href="images/educat/resume.pdf" class="btn" download=""><span>Download Resume</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>

        </div>
    </div> --> 
<!-- </section> -->
<!-- about section ends -->

<!-- skills section starts
skills section ends -->


<!-- education section starts -->
<!-- <section class="education" id="education">

    <h1 class="heading"><i class="fas fa-graduation-cap"></i> My <span>Education</span></h1>

    <p class="qoute">Education is not the learning of facts, but the training of the mind to think.</p>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img draggable="false" src="/images/educat/college.jpg" alt="">
            </div>
            <div class="content">
                <h3>Bachelor of Technical Education in Computer Science</h3>
                <p>Jss Academy of Technical Education | Noida</p>
                <h4>2018-2022 | Pursuing</h4>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img draggable="false" src="/images/educat/school.jpg" alt="High School">
            </div>
            <div class="content">
                <h3>PCM Science</h3>
                <p>S.C D.A.V Public School | CBSE</p>
                <h4>2015-2017 | Completed</h4>
            </div>
        </div>

    </div>
</section> -->
<!-- education section ends -->




<!-- scroll top btn -->
<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll back to top -->